.DS_Store
node_modules
build
.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
secrets.json5
.sentryclirc

.idea
http-client.private*.json
.turbo
.db-data
/out
data.sql
openapi.yaml
service-account.json
