@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.5rem;
    }
}

#theme-preview {
    color: hsla(0 0% 100%); /*--background: */
    color: hsla(240 10% 3.9%); /*--foreground: */
    color: hsla(0 0% 100%); /*--card: */
    color: hsla(240 10% 3.9%); /*--card-foreground: */
    color: hsla(0 0% 100%); /*--popover: */
    color: hsla(240 10% 3.9%); /*--popover-foreground: */
    color: hsla(142.1 76.2% 36.3%); /*--primary: */
    color: hsla(355.7 100% 97.3%); /*--primary-foreground: */
    color: hsla(240 4.8% 95.9%); /*--secondary: */
    color: hsla(240 5.9% 10%); /*--secondary-foreground: */
    color: hsla(240 4.8% 95.9%); /*--muted: */
    color: hsla(240 3.8% 46.1%); /*--muted-foreground: */
    color: hsla(240 4.8% 95.9%); /*--accent: */
    color: hsla(240 5.9% 10%); /*--accent-foreground: */
    color: hsla(0 84.2% 60.2%); /*--destructive: */
    color: hsla(0 0% 98%); /*--destructive-foreground: */
    color: hsla(240 5.9% 90%); /*--border: */
    color: hsla(240 5.9% 90%); /*--input: */
    color: hsla(142.1 76.2% 36.3%); /*--ring: */
}

@layer components {
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @screen md {
        .container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-family: Roboto, sans-serif;
        @apply bg-background text-foreground;
    }
}
